{
  "presets": ["es2015", "es2016", "es2017"],
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src/app", "./src/lib", "./src", "./test"],
        }],
        [
          "transform-runtime", {
            "polyfill": true,
            "regenerator": true,
          },
        ],
        "transform-object-rest-spread",
      ]
    }
  }
}
