# General
NODE_ENV=development
BABEL_ENV=development

# pm2
APP_NAME=imhere
APP_PATH='/opt/www/imhere/current/build'

# database
DB_DEVELOPMEMT_HOST=localhost
DB_DEVELOPMEMT_DATABASE=imhere
DB_DEVELOPMEMT_USER=root
DB_DEVELOPMEMT_PASSWORD=mysql

DB_TEST_HOST=localhost
DB_TEST_DATABASE=imhere_test
DB_TEST_USER=root
DB_TEST_PASSWORD=mysql

# server
PORT=5000

# debugging & logging
DEBUG_LEVEL=debug
DEBUG_FD=1
DEBUG=knex:query,knex:bindings

# encryption
JWT_SECRET="Imhere"
BCRYPT_SALT=$2a$06$NkYh0RCM8pNWPaYvRLgN9.LbJw4gcnWCOQYIom0P08UEZRQQjbfpy

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=1

# Kue
KUE_PREFIX=local
